@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    color: #fff;
}

.gradient-button {
    position: relative;
    background-image: linear-gradient(to right, #ebc1ff, #00fffc, #5c23ff);
    z-index: 2;
}

.gradient-button:before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 1;
    opacity: 0;
    background-image: linear-gradient(to right, #00fffc, #5c23ff, #ebc1ff);
    transition: all 1s ease-in-out;
}

.container:hover .gradient-button::before {
    opacity: 1;
    border-radius: 9999px;
}