.container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 33.3333%;
    height: 15vh;
    border: 0.5px solid #ddd;
    padding: 2vw;
  }
  
  .boxContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .boxImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .boxText {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;

  }
  
  .boxSubtext {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #666;
      font-family: "Plus Jakarta Sans", sans-serif;

  }
  