.container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -55px; /* adjust the value as needed */
}


.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 33.3333%;
  height: 15vh;
  border: 0.5px solid rgba(255, 255, 255, 0.12);
  padding: 2vw;
}
  


.boxContent {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  /* background-color: red; */
}

.boxImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.boxText {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.boxSubtext {
  font-size: 14px;
  font-weight: normal;
  margin-left: 42px;
  margin-top: 5px;
  text-align: left;
  color: #666;
  font-family: "Plus Jakarta Sans", sans-serif;
}


@media (max-width: 600px) {
    .container {
      display: flex;
      position: relative;
      bottom: 1px;
    }

    .row {
        margin-bottom: 0;
        flex-direction: column;
    }

    .box {
        width: 100vw;
        height: 15vh;
        padding: 0 10vw; 

    }

    .boxText {
        font-size: 24px;
    }
    .boxSubtext {
        font-size: 20px;
    }
  }